*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    margin: 0;
    font-family:"Poppins", sans-serif; 
}

.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
}


.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 105px;
}

.logo img{
    width: 35px;
    height: 24px;
}

.logo span{
    color: #263238;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
    
}

.navLinks{
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 30px;
}


.navLinks a{
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.navButtons{
    display: flex;
    gap: 14px;
    margin-right: 100px;
}

.btnLogin,.btnSignUp{
    border: none;
    border-radius: 6px;
    cursor: pointer;
}


.btnLogin{
    background-color: #007BFF; 
    color: white;
    width: 77px;
    height: 40px;
    background-color: transparent;
    color: #4CAF4F;
    font-size: 14px;
    font-weight: 500;
}

.btnSignUp{
    background-color: #28A745; 
    color: white;
    width: 95px;
    height: 40px;
    font-size: 14px;
}

.news {
    height: 599px;
    padding-top: 20px;
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    position: relative;
    background-color: #F5F7FA;
}

.newsRegister {
    display: flex;
    flex-direction: column; 
    margin-right: 200px; 
    margin-left: 170px;
}

.news p {
    margin: 0px;
    font-weight: 600;
    font-size: 64px;
    line-height: 76px;
    text-align: left;
}

.newsFrom8Years {
    color: #4CAF4F;
}

.news span {
    margin-top: 30px;
    font-weight: 400;
    line-height: 24px;
    color: #717171;
}

.news button {
    width: 128px;
    height: 52px;
    background-color: #4CAF4F;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    align-items: center;
    margin-top: 40px;
}

.newsIllustration {
    max-width: 100%;
    height: auto;
}

.newsDot {
    position: absolute;
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    display: flex;
    align-items: center;
    justify-content: center;
}

.ourClients{
    margin-top: 26px;
    height: 190px;
}


.ourClients p{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 44px;
    font-size: 36px;
    font-weight: 600;
    color: #4D4D4D;
}

.ourClients span{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: #717171;
    font-weight: 400;
}

.clientsLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 160px;

} 

.clientsLogo img{
    width: 40px;
    height: 40px;
}


.achievements{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 64px;
    background-color: #F5F7FA;
    height: 288px;
}

.achTexts{
    flex: 1;
    margin-left: 144px;
}

.achTextBlack{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #4D4D4D;
}

.achTextGreen{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #4CAF4F;
}

.achTexts span{
    font-weight: 400;
    color: #18191F;
}

.achievements img{
    margin-right: 144px;
}

.community{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.community span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #4D4D4D;
    height: 44px;
    margin-top: 58px;
}

.community p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: #717171;
    max-width: 628px;
    height: 72px;
    word-wrap: break-word;
    text-align: center;
    margin-top: 8px;
}

.communityImgs{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 366px;
    gap: 10px;
    margin-top: 15px;
}


.communityImgs img{
    height: 356px;
    width: 320px;
}

.unlock{
    height: 433.4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
    gap: 50px;
    
}

.learnMore {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 18px; 
}

.learnMore {
    display: flex;
    flex-direction: column; 
    gap: 18px;
}

.learnMoreTxt1 {
    color: #4D4D4D;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    max-width: 621px;
    word-wrap: break-word;
}

.learnMoreTxt2 {
    color: #717171;
    word-wrap: break-word;
    max-width: 621px;
    max-height: 220px;
}

.unlock button {
    background-color: #4CAF4F;
    width: 151px;
    height: 52px;
    border-radius: 4px;
    border-color: transparent;
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
}

footer{
    height: 328px;
    background-color: #263238;
    color: #FFFFFF;
    margin-top: 64px;
}

.footerList{
    height: 300px;
    width: 1140px;
    gap: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 135px;

}
.companyInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    height: 40px;
    gap: 40px;
}

.companyInfo img{
    width: 191px;
    height: 29.67px;
}

.copyRight span{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 20px;
    color: #F5F7FA;
    margin-left: 15px;
}

.socialMedia{
    text-decoration: none;
    display: flex;
    gap: 20px;
}

.socialMedia a{
    background-color: #3c464c;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-color: lightgray;
    border-radius: 100%;
    color: #ffffff;
    font-weight: 800;
}

.links{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
}

.col1 , .col2{
    width: 160px;
    height: 200px;
    gap: 24px;

}

.col1List , .col2List{
    list-style: none;
    text-decoration: none;   
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.col1List a , .col2List a{
    color: #F5F7FA;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.listHeader a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
}

.col3{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.col3 span{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
}

.email-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: 250px; /* Genişliği ayarlayabilirsiniz */
}

#inputEmail {
    flex: 1;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
}

.send-button {
    background-color: #007BFF;
    border: none;
    color: white;
    cursor: pointer;
    padding: 8px 12px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.send-button:hover {
    background-color: #0056b3;
}